.game-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    justify-content: center;
    justify-items: center;
}

.test {
    display: flex;
    flex-direction: row;
}

.team-container {
    display: flex;
    flex-direction: column;
}