.game {
	display: grid;
	height: 90px;
	grid-template-columns: 1fr auto 1fr;
	background-color: #ffffff;
	gap: 10px;
	border-radius: 15px;
	padding: 15px;
	justify-content: space-between;
	justify-items: center;
	border: 1px solid #e2e8f0;
}

.game__team {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	gap: 5px;
	font-size: large;
	font-weight: bold;
	max-width: 140px;
}

.game__team__image {
	height: 60px;
	aspect-ratio: 1/1;
}

.game__team__image img {
	height: 100%;
}

.game--hasnt-started__status {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: center;
	gap: 10px;
}

.game--hasnt-started__status__time {
	font-size: xx-large;
	font-weight: bolder;
	text-align: center;
}

.game--hasnt-started__status__date {
	font-size: medium;
	font-weight: 400;
}

.game--has-started {
	display: flex;
	flex-direction: column;
	align-self: center;
	justify-self: center;
	align-items: center;
	justify-content: center;
}

.game--has-started__scores {
	display: flex;
	font-size: xx-large;
	font-weight: bolder;
	flex-direction: row;
	justify-content: center;
	gap: 12px;
}


.divider {
	width: fit-content;
}

.game--has-started__scores--loser {
	color: rgb(112, 101, 101);
}

.game--has-started__status {
	font-size: medium;
	font-weight: 400;
}




@media (max-width: 500px) {
	.game--has-started__scores {

		font-size: x-large;

	}
}