body {
	margin: 0;
	overflow-x: hidden;
}

p {
	margin: 0;
}

.home-page {
	width: 100vw;
	max-width: 100%;
	min-height: 100vh;
	background-color: #fafafa;
}

.home-page__container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	padding: 50px 30px 30px 30px;
	gap: 50px;
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

@media (min-width: 768px) {
	.controls {
		flex-direction: row;
		justify-content: center;
	}
}

.home-page__container__grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 450px));
	grid-gap: 10px;
	max-width: 1400px;
	justify-content: center;
	align-content: center;
}

.home-page__text--no-games {
	font-size: xx-large;
	text-align: center;
	font-weight: bolder;
}

.toggle-scores-text {
	color: #000000;
	/* blue text, adjust as needed */
	cursor: pointer;
	/* shows pointer on hover */
	text-decoration: underline;
	/* optional, makes it look clickable */
	font-size: 1.5rem;
	transition: color 0.2s ease;
}

.toggle-scores-text:hover {
	color: #115293;
	/* darker blue on hover */
}

@media (max-width: 500px) {
	.home-page__container__grid {
		grid-template-columns: repeat(auto-fit, minmax(350px, 450px));
	}

	.home-page__container {

		padding: 50px 20px 20px 20px;
	}
}

@media (max-width: 1000px) {
	.home-page__container__grid {

		grid-template-columns: repeat(auto-fit, minmax(350px, 380px));

	}

	.home-page__container {

		padding: 50px 20px 20px 20px;
	}
}